<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
</head>
<body>
<h1>상품 등록 페이지</h1>
<form th:action="@{/prodmanage}" method="post">
    <label for="prodName">상품 이름:</label>
    <input type="text" id="prodName" name="prodName" required><br><br>

    <label for="prodIntro">상품 소개:</label>
    <input type="text" id="prodIntro" name="prodIntro"><br><br>

    <label for="prodStatus">상품 상태:</label>
    <input type="text" id="prodStatus" name="prodStatus"><br><br>

    <label for="prodPri">상품 가격:</label>
    <input type="text" id="prodPri" name="prodPri" required><br><br>

    <label for="prodImage">상품 이미지 URL:</label>
    <input type="text" id="prodImage" name="prodImage"><br><br>

    <label for="paymentCompleted">결제 완료 여부:</label>
    <input type="checkbox" id="paymentCompleted" name="paymentCompleted"><br><br>

    <label for="tableCount">테이블 수:</label>
    <input type="number" id="tableCount" name="tableCount"><br><br>

    <button type="submit">상품 등록</button>
</form>
</body>
</html>
